body {
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  color: 7c7c7c;
}

.text {
  font-weight: bold;
}

.inativo {
  width: 50px;
}
.corpo {
  width: 30%;
  margin: 0 auto;
  padding: 50px 0;
}
.lineColor {
  display: flex;
  margin: 0 auto;
}

.colunm {
  flex: 1;
  justify-content: space-between;
}

.boxColor {
  height: 100px;
  width: 100px;
  border: 1px solid #7c7c7c;
  margin: 0 auto;
}
